.nav-item{
    padding:2px;
    margin-left: 7px;
    
    
}
.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }

  .pro
  {
     text-align: left;
  }
